#main{
    display: grid;
    place-items: center;
}
header h2{
    width:100%;
    font-weight: bold;
    font-size: 5rem;
}
.banner{
    width:70%;
    height: 100%;
}
#para{
    width: 60%;
    font-size: 2rem;
    text-align: justify;
}
.my-tab{
    width: 60%;
    margin-bottom: 2rem;
}
@media screen and (max-width:800px) {
    header h2{
        width:100%;
        font-size: 2rem;
    }
    .banner{
        width:90%;
        height: 100%;
       
    }
    #para{
        width: 90%;
        font-size: 1rem;
    }
    .my-tab{
        width: 90%;
        margin-bottom: 1rem;
    }

}