/* html{
    font-size: 65%;
} */
#main{
    display: grid;
    place-items: center;
}
header h2{
    width:100%;
    font-weight: bold;
    /* margin-left: 18%; */
    font-size: 5rem;
}
.banner{
    width:70%;
    height: 100%;
    /* margin-left: 7rem; */
}
#para{
    width: 60%;
    font-size: 2rem;
    text-align: justify;
    /* margin-left: 7rem; */
}
.my-tab{
    width: 60%;
    /* margin-left: 7rem; */
    margin-bottom: 2rem;
}